---
name: QA
on:
  schedule:
    - cron: '0 6 * * *'
  push:
  pull_request:
jobs:
  pkgcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Run pkgcheck
        uses: pkgcore/pkgcheck-action@v1
